h1{
  text-align: left;
  vertical-align: top;
  color: black;
  margin: auto;
}
h2{
  text-align: center;
  vertical-align: top;
  color: black;
  margin: auto;
}
body{
text-align: center;
background-color: lightgrey;
border: 20px solid green;
padding: 0;
margin: 0;
}


button{

background-color: #86c686;
border: 1px solid #3aa13a;
color: #000000;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
width: 85px; 
vertical-align: bottom;
text-align: center;
margin-right: -35cm;

}

footer{
text-align: center;
vertical-align: bottom;
align-content: bottom;
padding: .5 cm;
line-height: 240%;
width: auto;
clear: both;
background-color: #9e9e9e;
color: white;
font-size: 110%;
font-family: italic;  
}